.container {
   width: 1170px;
   margin: 0 auto;

}



.sale {
   font-family: 'Bad Script';
   font-style: italic;
   font-weight: 400;
   font-size: 40px;
   line-height: 87.3%;
   /* or 35px */
   padding-left: 16.25rem;

   color: #514A7E;

}

.title {
   font-weight: 300;
   font-size: 40px;
   line-height: 87.3%;
   /* or 35px */
   color: #121212;
   margin-top: 11.5rem;
}